@* <!-- @formatter:off --> *@

@(vef: Form[VehicleEnquiryForm])(implicit messages: Messages)

@import lib._

@main {

@*** Note: I prefer html instead of the helper._ helper methods **@

<form action="@routes.VehicleEnquiryController.search()" method="POST">

	<label for="registrationNumber">@messages("reg.number")</label>

	<input type="text" id="registrationNumber" name="registrationNumber" value="@vef("registrationNumber").value"/>
	@errors(vef("registrationNumber"))

	<label for="vehicleMake">@messages("vehicle.make")</label>
	<input type="text" id="vehicleMake" name="vehicleMake" value="@vef("vehicleMake").value"/>
	@errors(vef("vehicleMake"))

	<input type="submit" value="Search"/>

</form>

}