@* <!-- @formatter:off --> *@

@(vef: Form[VehicleEnquiryForm])(implicit messages: Messages)

@renderErrors(field:Field) = {
	@for(error<-field.errors) {
		@for(msg <- error.messages) {
			<em>@messages(msg)</em>
		}
	}
}

@main {

@*** Note: I prefer html instead of the helper._ helper methods **@

<form action="@routes.VehicleEnquiryController.search()" method="POST">

	<label for="registrationNumber">@messages("reg.number")</label>

	<input type="text" id="registrationNumber" name="registrationNumber" value="@vef("registrationNumber").value"/>
	@renderErrors(vef("registrationNumber"))

	<label for="vehicleMake">@messages("vehicle.make")</label>
	<input type="text" id="vehicleMake" name="vehicleMake" value="@vef("vehicleMake").value"/>
	@renderErrors(vef("vehicleMake"))

	<input type="submit" value="Search"/>

</form>

}